[submodule "libdparse"]
	path = submodules/libdparse
	url = https://github.com/dlang-community/libdparse.git
[submodule "experimental_allocator"]
	path = submodules/experimental_allocator
	url = https://github.com/Hackerpilot/experimental_allocator.git
[submodule "makd"]
	path = submodules/makd
	url = https://github.com/sociomantic-tsunami/makd.git
[submodule "dsymbol"]
	path = submodules/dsymbol
	url = https://github.com/dlang-community/dsymbol.git
[submodule "emsi_container"]
	path = submodules/emsi_containers
	url = https://github.com/economicmodeling/containers.git
[submodule "beaver"]
	path = submodules/beaver
	url = https://github.com/sociomantic-tsunami/beaver.git
